:root{
    --blue-principal-color: #192448;
    --blue-secondary-color: #1d346d;
    --blue-tertiary-color: #1d4392;
    --pink-primary-color: #fc036c;

    --white-primary-color: ##fcfdff;

    --text-primary-color: #ffffff;
}

@font-face {
    font-family: "Noto Sans";
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
}

/* RESETA CSS DA PÁGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}