header {
background-color: transparent;
position: absolute;
top: 0;
left: 0;
height: 80px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 16px 24px;
z-index: 10;
}

.nav-header {
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.nav-menu a{
    text-decoration: none;
    font-size: 28px;
    color: var(--text-primary-color);
}

.nav-menu a:hover{
    color: var(--pink-primary-color);
}

.nav-links{
    display: flex;
    gap: 26px;
    margin-right: 40px;
    list-style: none;
}

.nav-title {
  color: var(--text-primary-color);
  font-size: 28px;
  font-family: "Noto Sans";
  font-weight: 360;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.nav-image {
  height: 50px;
  margin-left: 40px;
}


